{
  "presets": [
    "react",
    [
      "babel-preset-env",
      {
        "targets": {
          "browser": ["last 2 versions", "> 1%"],
          "node": "6.10"
        }
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "babel-plugin-transform-class-properties"
  ]
}
